# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Logs
*.log
*.tlog

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vs
*.pdb
*.idb
*.lastbuildstate


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# FlatBuffers
# Ignore flatbuffers downloads
/flatbuffers-23.5.26/
/flatbuffers.tar.gz
/flatc
/flatc.zip
/flatc_windows.zip
# But keep flatc.exe in Protocol folders
!**/Protocol/flatc.exe
# Ignore generated headers (will be regenerated)
**/Protocol/Generated/*.h

*.xml
*.user

# End of https://www.toptal.com/developers/gitignore/api/c++
